# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Jupyter Notebook
.ipynb_checkpoints/

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Logs
*.log

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

face_detection/*
face_detection
*.h5
haarcascade_frontalface_default.xml
faces
faces_detectadas